services:
  mariadb:
    container_name: hikari-mariadb
    image: mariadb
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_USER: user
      MYSQL_PASSWORD: root
      MYSQL_DATABASE: hikari
    ports:
      - '3306:3306'
    volumes:
      - './src/main/resources/db/migration/V1__001_Init-Schema.sql:/docker-entrypoint-initdb.d/V1__001_Init-Schema.sql'
      - './src/main/resources/db/migration/V2__002_Insert-Data.sql:/docker-entrypoint-initdb.d/V2__002_Insert-Data.sql'
      - './src/main/resources/db/permission/instana.sql:/docker-entrypoint-initdb.d/instana.sql'
    command:
      - '--max-connections=1000'
